/* @import '../../components/category-list/category-list.scss'; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.goodsListItem {
  min-height: 50px;
  align-items: center;
  transition: all 0.3s;
}
li.goodsListItem {
  border-top: 1px solid rgba(228, 236, 238, 1);
  border-bottom: 1px solid rgba(228, 236, 238, 1);
}
li.goodsListItem:hover {
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(228, 236, 238, 1);
  -moz-box-shadow: inset 0px 0px 5px 5px rgba(228, 236, 238, 1);
  box-shadow: inset 0px 0px 5px 5px rgba(228, 236, 238, 1);
  background-color: whitesmoke;
}
.goodsListItem,
.title {
  display: flex;
  flex-direction: row;
}
.goodsListItem p,
.title p {
  margin-right: 10px;
  width: 15%;
  text-align: center;
}

.goodsListItem p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px;
  padding: 5px;
  width: 100%;
  height: 120px;
  transition: all 0.3s;
}
.goodsListItem p:hover {
  background-color: white;
}

.goodsListItem p:not(:last-child) {
  border-right: 1px solid rgba(228, 236, 238, 1);
}

img {
  max-width: 100%;
  max-height: 90px;
}

p.invalid {
  border: 2px solid green;
}

p.valid {
  /*  border: none;
  border: 1px solid red !important;*/
  color: red;
}

p.reductGood:hover {
  cursor: pointer;
}

.img_span {
}

.goodsListItem p.name,
.goodsListItem p.category {
  min-width: 30%;
  text-align: left;
}

.goodsListItem p,
.title p {
  min-width: 80px;
  vertical-align: middle;
}

p.deleteGood:hover {
  cursor: pointer;
}
.modal {
  display: none;
  background-color: #ccc;
}

.modal input {
  width: 100%;
  height: 30px;
}
.modal input:not(:last-child) {
  margin-bottom: 10px;
}

.show {
  display: block;
  position: absolute;
  left: 25%;
  top: 10px;
}
