@import '../../components/category-list/category-list.scss';
* {
  padding: 0;
}
.search {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 330px;
  justify-content: space-between;
}

.categories-list {
  display: block;
  width: auto;
  height: 30px;
  border: 1px solid #219fec;
  border-radius: 5px;
  padding-left: 5px;
  color: #219fec;
}

.categories-list__item {
  color: #696969;
}

.list {
  padding: 20px;
}

.goods-title {
  color: #696969;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.goods-title p {
  width: 80px;
  vertical-align: middle;
}

.goods-list li:hover {
  background-color: #c7c7c7;
}

.goods-title p#name,
.goods-title p#category {
  min-width: 30%;
  text-align: left;
}
