.container {
  margin: 0 auto;
}
.container *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.yesh-btn {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #10b02d;
  border-radius: 10px;
  padding: 6px 20px;
  transition: background-color 0.5s;
}
.yesh-btn:hover {
  background-color: #066b19;
}
.yesh-sectionInput{
  position: relative;
  width: 100%;
  margin: 0.75rem 0 0 0 !important;
  display: flex;
  align-items: center;
}
.yesh-inputSubmit{
  cursor: default;
  pointer-events: none;
}
.yesh-inputClear{
  opacity: 0;
  cursor: default;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 1s;
}
.isActive{
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}
.yesh-input{
  height: 2.5rem !important;
  margin: 0 !important;
}

.yesh__list {
  margin-bottom: 0;
  padding: 4px 0;
  border-bottom: 1px solid rgba(63, 62, 62, 0.5);
}
.yesh__list-head {
  margin-bottom: 10px;
  padding: 4px 0;
  border-bottom: 1px solid rgb(63, 62, 62);
}
.yesh-min-h30 {
  min-height: 30px !important;
}
.yesh-link {
  text-align: center;
  align-items: center;
  color: rgb(63, 62, 62);
  cursor: pointer;
}
.yesh-df {
  display: flex;
}
.yesh-jcc {
  display: flex;
  justify-content: center;
}
.yesh-jcfe {
  display: flex;
  justify-content: flex-end;
}
.yesh-aic {
  display: flex;
  align-items: center;
}
.yesh-fz14 {
  font-size: 14px;
}
.yesh-m0 {
  margin: 0 !important;
}
.yesh-m10 {
  margin: 0.75rem !important;
}
.yesh-m0-10 {
  margin: 0 0.75rem !important;
}
.yesh-p0 {
  padding: 0 !important;
}
.yesh-p10 {
  padding: 0.75rem !important;
}
.yesh-p10-0 {
  padding: 0.75rem 0 !important;
}
.yesh-p0-10 {
  padding: 0 0.75rem !important;
}
.yesh-fww {
  display: flex;
  flex-wrap: wrap;
}
