.yesh-container {
  margin: 0 0.72rem;
}
.yesh-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//---- hesder
.yesh__section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.72rem 0;
}
.yesh__title {
  font-size: 14px;
}
.yesh__title-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.yesh__title-amount {
  margin: 0;
}
.yesh__header-btn {
  display: flex;
  margin: 0 !important;
  align-items: center;
  justify-content: flex-end;
  padding: 0 !important;
  margin-right: -0.72rem;
}
.yesh__btn-add {
  width: 100%;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #10b02d;
  border-radius: 10px;
  padding: 6px 20px;
  transition: background-color 0.5s;
}
.yesh__btn-add:hover {
  background-color: #066b19;
}

//-----
.yesh__section-finder {
  margin: 0;
}
.yesh__finder-wrap {
  padding: 0;
}
.yesh__finder-input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.yesh__input-submit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 1s;
  cursor: default;
  pointer-events: none;
}
.yesh__input-clear {
  opacity: 0;
  cursor: default;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 1s;
}
.isActive {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}
.yesh__finder-input {
  padding: 0 0.72em 0 2em;
  height: 2.5rem !important;
  margin: 0 !important;
}

//-----// list //-----//
.yesh__section-list {
  height: 70vh;
  margin-top: 0.72rem;
}
//----
.yesh__list-head {
  display: flex;
  align-items: center;
  box-sizing: inherit;
  padding: 4px 0;
  min-height: 40px;
  border-bottom: 2px solid rgb(150, 150, 150);
}
.yesh__list-name {
  display: flex;
  align-items: center;
}
//----
.yesh__list {
  display: block;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.yesh__item {
  margin: 0;
  padding: 4px 0;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(200, 200, 200);
  transition: background 0.3s;
}
.yesh__item-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.72em;
}
.yesh__item:hover {
  background: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(200, 200, 200);
}
.yesh__item-btn {
  display: flex;
  justify-content: flex-end;
}
.yesh-link {
  text-align: center;
  align-items: center;
  color: rgb(63, 62, 62);
  cursor: pointer;
}
.yesh__arrow-wrap {
  display: inline-block;
  height: 100%;
  height: 30px;
  position: relative;
}
.yesh__sort-arrow {
  position: absolute;
  bottom: 0;
}
