.register-menu {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 450px;
    box-shadow: 0px 0px 0 10px #009688;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &__head {
        padding-top: 50px;
        font: 500 30px Arial, san-serif;
        margin: 0;
    }
    &__text {
        font: 200 18px Arial, san-serif;
    }
    &__btn {
        display: block;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.input-field {
    display: flex;
    width: 380px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.link-box {
    display: block;
    text-align: end;
    padding-right: 25px;
    margin-bottom: 25px;
}

.unlock {
    pointer-events: none;
    background-color: #dfdfdf;
    box-shadow: none;
    color: #9f9f9f;
    cursor: default;

}


.error{
    display: block;
    width: 200px;
    background: rgb(194, 122, 122);
    color: black;
    text-align: center;
    margin: 0 auto;
   
}
