  .modal {
    width: 380px;
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-form__input {
    width: 100%;
    margin-left: 10px;
  }

  .icon {
    width: 25px;
    height: 25px;
    color: #1e1515;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .login-form__button {
    width: 100%;
    height: 30px;
    border: none;
    padding: 0;
    text-transform: uppercase;
    outline: none;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }

  .links-box {
    display: flex;
    justify-content: space-between;
  }