.form-wrapper {
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 380px;
  box-shadow: 0px 0px 0 10px #009688;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* label underline focus color */
#password.validate:focus,
#email.validate:focus {
  box-shadow: none;
}
/* valid color */
#password.validate.valid,
#email.validate.valid {
  box-shadow: none;
}
/* invalid color */
#password.validate.invalid,
#email.validate.invalid {
  box-shadow: none;
}

.checkbox-container {
  margin-left: 5px;
}

.login-form__button {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.links-box {
  display: flex;
  justify-content: space-between;
}
