.payment_module-wrapper {
    display: flex;
}

.calculator__sidebar {
    height: 100vh;
    min-width: 350px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.checkout {
    width: 100%;
    height: 100vh;
    padding: 0 40px;
}

.checkout__table-active {
    border: 1px solid rgb(0, 108, 202);
    transition: all .3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 1.5 rem;
    padding-right: 1.5 rem;
    /* padding: 1rem;
    transform: scale(1.1) */
}

.checkout__field {
    display: block;
    justify-content: space-between;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: bold;
    padding-right: 1rem;
}

.checkout__field-money {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkout__field-value {
    text-align: right;
    padding-right: 5px;
    font-size: 25px;
}

.checkout__field-cash-string {
    display: flex;
    justify-content: flex-end;
}

.checkout__field-currency {
    margin-left: 10px;
}

.checkout__field-rest {
    display: block;
    text-align: right;
    padding-right: 1rem;
}

.checkout__section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout__close-navbar {
    margin-bottom: 40px;
}

.checkout__close-navbar {
    display: flex;
    justify-content: space-between;
}

.close-link {
    color: crimson;
}

.calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    font-size: larger;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}

.checkout__pay-button {
    background-color: rgb(219, 219, 219);
}

.active-pay-button {
    display: block;
    background-color: rgb(15, 216, 56);
}