.menu {
  img {
    display: block;
    max-width: 100%;
  }

  width: 60%;
  padding: 20px;
  background-color: rgb(207, 231, 161);

  .btn-wrapper {
    padding: 0 0 5px 4px;
  }

  .menu-btn {
    padding: 8px 40px;
    line-height: 1.2;
    background-color: rgb(255, 174, 68);
  }

  .categories-list,
  .product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;

    &__item {
      width: 25%;
      padding: 5px;

      .card {
        margin: 0;

        &-content {
          display: flex;
          justify-content: space-between;
          padding: 2px 5px 5px 5px;

          .card-title,
          .card-price {
            margin: 0;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
