<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./techMap.css">
</head>
<body>

    <div id="root"></div>
    <!-- <div class="tech-map">
        <div class="tech-header">
            <a href="/manage/dishes" class="btn-back">
                <svg width="11px" height="18px" viewBox="0 0 11 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#3E8ACC">
                            <polygon id="Fill-34"
                                transform="translate(5.500000, 9.000000) scale(-1, 1) translate(-5.500000, -9.000000) "
                                points="0 16 7 9 0 2 2 0 11 9 2 18"></polygon>
                        </g>
                    </g>
                </svg> </a>
            <h2 class="ib">Нова тех. карта</h2>
        </div>
        <form action="manage" method="post" class="form-map">
            <div class="name-grup">
                <label for="item-name" class="label">Назва</label>
                <input type="text" class="control" id="item-name" name="product_name">
            </div>

            <div class="name-grup">
                <label for="item-name" class="label">Категорія</label>
                <select class="control" name="menu_category_id" id="item-category" selected="selected"></select>
            </div>

            <div class="name-grup">
                <label for="item-name" class="label">Фотографія</label>
                <input type="" class="control" id="photo" name="photo">
            </div>

            <div class="ingredients">
                <p class="item">Склад</p>
                <p class="item-p">Інгрідієнти та напівфабрикати, з яких складається технологічна карта</p>
            
            <div class="ingredients-table">

                <div class="tab">
                    <p class="ingredients-item">Продукти</p>
                    <p class="ingredients-item">Бруто</p>
                    <p class="ingredients-item">Нетто</p>
                    <p class="ingredients-item">Собівартість</p>

                </div>

                <div class="table-input">
                    <select name="" id="product"></select>
                    <input type="text" id="brut" class="size" placeholder="0">
                    <div class="netto">
                        <input type="text" id="nett" class="size" placeholder="0">
                        <span>г</span>
                    </div>
                    <div class="price">
                        <span id="price-item">0.00 ₴</span>
                        <a href="#" class="delete-ingredient">×</a>
                    </div>
                </div>
                
                <div class="add-ingredient">
                    <a href="#" class="add">+ Добавити інгредієнт</a>
                    <p class="product-total">Вихід: 0 г</p>
                </div>
            </div>
            <div class="total-price">
                <div class="total-price-item tab">
                    <p class="ingredients-item">Собівартість</p>
                    <p class="ingredients-item">Націнка</p>
                    <p class="ingredients-item">Всього</p>
                </div>
                <div class="total-price-input">
                    <span class="total-price_item total_text">0.00 ₴</span>
                    <span class="total_mathematic">+</span>
                    <input type="text" placeholder="0" class="total-price-input_item">
                    <span class="">%</span>
                    <span class="total_mathematic">=</span>
                    <input type="text" placeholder="0.00" class="total-price-input_item">
                    <span class="">₴</span>
                </div>
                
            </div>
            <button type="submit" class="btn-submit">Зберегти</button>
            </div>
        </form>
        </div>     -->
        <!-- <button></button> -->

        <!-- <script src="./techMap.js"></script> -->
</body>
</html>