.check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100vh;
  padding: 10px 10px 20px 0;
  // background-color: rgb(112, 216, 216);

  .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    font-size: 18px;

    p {
      margin: 0;
      padding: 3px;
    }
  }
}

.food-list {
  height: 60%;
  padding-bottom: 50px;
  overflow-y: auto;
}

.title {
  width: 60%;
  padding-left: 25px;
}

.quantity {
  text-align: center;
}

.total {
  text-align: right;
  padding-right: 15px;
}

.check-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.btn {
  padding: 20px 30px;
  line-height: 1px;
}

.more {
  color: rgb(77, 77, 77);
  background-color: rgb(242, 242, 242);

  i {
    font-size: 2rem;
  }
}

.pay {
  // background-color: rgb(3, 172, 3);
}

.dropdown-content {
  min-width: 250px;
  top: 44px;
  overflow-y: inherit;
  z-index: 10000;

  li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: -3;
  //   bottom: -29px;
  //   left: 30px;
  //   border: 15px solid transparent;
  //   border-top: 15px solid rgb(255, 255, 255);
  // }
}

.bold {
  font-weight: 700;
}

.summary {
  padding: 20px 25px 10px 25px;
  font-size: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  .btn-wrapper {
    padding-bottom: 30px;

    .summary-btn {
      width: 100%;
    }
  }

  .total-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .calculate {
    width: 60%;
  }

  .result,
  .bonus {
    display: flex;
    justify-content: space-between;

    &__title {
      margin: 0;
      padding: 10px 0;
    }

    &__value {
      margin: 0;
      padding: 10px 0;
      font-weight: 700;
    }
  }

  .total {
    width: 40%;
    text-align: left;
    padding-left: 85px;
    font-weight: 700;

    &__title {
      margin: 0;
      padding: 10px 0;
    }

    &__value {
      margin: 0;
      padding: 10px 0;
    }
  }
}
